examples/commerical-invoice/edifact/schematron/EDIFACT/EN16931-EDIFACT-syntax.sch

<!--

    Licensed under European Union Public Licence (EUPL) version 1.2.

-->
<!-- Schematron binding rules generated by Andreas Pelekies -->
<!-- Data binding to EDIFACT syntax for TC434 -->
<!-- Timestamp: 2016-09-18 22:50:00 +0200 -->
<!-- SG27/FTX -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="EN16931-SYNTAX" id="EN16931-EDIFACT-Syntax">

		
	<!-- UNH -->
	<param name="EDIFACT-SR-001" value="not(D_0068)"/>
	<param name="EDIFACT-SR-002" value="not(C_S010)"/>
	
	<!-- BGM -->
	<param name="EDIFACT-SR-003" value="not(C_C002/D_1131)"/>
	<param name="EDIFACT-SR-004" value="not(C_C002/D_3055)"/>
	<param name="EDIFACT-SR-005" value="not(C_C002/D_1000)"/>
	<param name="EDIFACT-SR-006" value="not(C_C106/D_1056)"/>
	<param name="EDIFACT-SR-007" value="not(C_C106/D_1060)"/>
	<param name="EDIFACT-SR-008" value="not(D_1225)"/>
	<param name="EDIFACT-SR-009" value="not(D_4343)"/>
	<param name="EDIFACT-SR-010" value="not(D_1373)"/>
	<param name="EDIFACT-SR-296" value="not(D_3453)"/>
	
	<!-- Invoice -->
	<param name="EDIFACT-SR-012" value="S_DTM/C_C507[D_2005='3' or D_2005='35' or D_2005='131' or D_2005='137' or D_2005='167' or D_2005='168' or D_2005='432']"/>
	<param name="EDIFACT-SR-011" value="count(S_DTM/C_C507[D_2005='3' and not(D_2380)]) &lt;=1"/>
	<param name="EDIFACT-SR-013" value="count(S_DTM/C_C507[D_2005='35' and D_2380]) &lt;=1"/>
	<param name="EDIFACT-SR-014" value="count(S_DTM/C_C507[D_2005='131']) &lt;=1"/>
	<param name="EDIFACT-SR-015" value="count(S_DTM/C_C507[D_2005='137']) =1"/>
	<param name="EDIFACT-SR-016" value="count(S_DTM/C_C507[D_2005='167']) &lt;=1"/>
	<param name="EDIFACT-SR-017" value="count(S_DTM/C_C507[D_2005='168']) &lt;=1"/>
	<param name="EDIFACT-SR-293" value="count(S_DTM/C_C507[D_2005='432'] and not (D_2380)) &lt;=1"/>
	<param name="EDIFACT-SR-294" value="count(S_DTM/C_C507[D_2005='35' and not (D_2380)]) &lt;=1"/>

	
	<param name="EDIFACT-SR-018" value="not(S_PAI)"/>
	<param name="EDIFACT-SR-019" value="not(S_ALI)"/>
	<param name="EDIFACT-SR-020" value="not(S_IMD)"/>
	<param name="EDIFACT-SR-021" value="not(S_LOC)"/>
	<param name="EDIFACT-SR-022" value="not(S_GEI)"/>
	<param name="EDIFACT-SR-023" value="not(S_DGS)"/>
	<param name="EDIFACT-SR-024" value="not(S_GIR)"/>
	<param name="EDIFACT-SR-025" value="not(G_SG6)"/>
	<param name="EDIFACT-SR-026" value="not(G_SG9)"/>
	<param name="EDIFACT-SR-027" value="not(G_SG12)"/>
	<param name="EDIFACT-SR-028" value="not(G_SG13)"/>
	<param name="EDIFACT-SR-029" value="not(G_SG14)"/>
	<param name="EDIFACT-SR-030" value="not(G_SG23)"/>
	<param name="EDIFACT-SR-031" value="not(G_SG24)"/>
	<param name="EDIFACT-SR-032" value="not(G_SG25)"/>
	<param name="EDIFACT-SR-033" value="not(S_CNT)"/>
	<param name="EDIFACT-SR-034" value="not(G_SG55)"/>
		
	<!-- FTX -->
	<param name="EDIFACT-SR-036" value="not(C_C107/D_1131)"/>
	<param name="EDIFACT-SR-037" value="not(C_C107/D_3055)"/>
	<param name="EDIFACT-SR-038" value="not(C_C108/D_4440_2 or C_C108/D_4440_3 or C_C108/D_4440_4 or C_C108/D_4440_5)"/>
	<param name="EDIFACT-SR-039" value="not(D_3453)"/>
	<param name="EDIFACT-SR-040" value="not(D_4447)"/>
	
	<!-- SG1 -->
	<param name="EDIFACT-SR-041" value="(S_RFF/C_C506[D_1153='PQ' or D_1153='ATS' or D_1153='AAK' or D_1153='ALO' or D_1153='GC' or D_1153='VN' or D_1153='OI' or D_1153='ON' or D_1153='CT' or D_1153='AEP'])"/>
	<param name="EDIFACT-SR-042" value="not(S_RFF/C_C506/D_1156)"/>
	<param name="EDIFACT-SR-043" value="not(S_RFF/C_C506/D_1056)"/>
	<param name="EDIFACT-SR-044" value="not(S_RFF/C_C506/D_1060)"/>
	<param name="EDIFACT-SR-045" value="count(S_RFF/C_C506[D_1153='GC']) &lt;=1"/>
	<param name="EDIFACT-SR-046" value="count(S_RFF/C_C506[D_1153='DOC']) &lt;=1"/>
	<param name="EDIFACT-SR-048" value="count(S_RFF/C_C506[D_1153='CT']) &lt;=1"/>
	<param name="EDIFACT-SR-049" value="count(S_RFF/C_C506[D_1153='ON']) &lt;=1"/>
	<param name="EDIFACT-SR-050" value="count(S_RFF/C_C506[D_1153='VN']) &lt;=1"/>
	<param name="EDIFACT-SR-051" value="count(S_RFF/C_C506[D_1153='ALO']) &lt;=1"/>
	<param name="EDIFACT-SR-052" value="count(S_RFF/C_C506[D_1153='AAK']) &lt;=1"/>
	<param name="EDIFACT-SR-053" value="count(S_RFF/C_C506[D_1153='ATS']) &lt;=1"/>
	<param name="EDIFACT-SR-054" value="count(S_RFF/C_C506[D_1153='AEP']) &lt;=1"/>
	<param name="EDIFACT-SR-055" value="(S_DTM/C_C507[D_2005='384']) or not (S_DTM)"/>
	<param name="EDIFACT-SR-056" value="not(S_DTM/C_C507/D_2379) or (S_RFF/C_C506/D_1153='OI')"/>
	<param name="EDIFACT-SR-057" value="not(S_GIR) or (S_RFF/C_C506[D_1153='ATS'] and S_GIR[D_7297='14'])"/>
	<param name="EDIFACT-SR-295" value="not(S_GIR/C_C206/D_7405) and not (S_GIR/C_C206/D_4405) and not (S_GIR/C_C206_2) and not (S_GIR/C_C206_3) and not (S_GIR/C_C206_4) and not (S_GIR/C_C206_5)"/>
	<param name="EDIFACT-SR-058" value="not(S_LOC)"/>
	<param name="EDIFACT-SR-059" value="not(S_MEA)"/>
	<param name="EDIFACT-SR-060" value="not(S_QTY)"/>
	<param name="EDIFACT-SR-061" value="not(S_FTX)"/>
	<param name="EDIFACT-SR-062" value="not(S_MOA)"/>
	<param name="EDIFACT-SR-063" value="not(S_RTE)"/>
	
	<!-- SG2 -->
	<param name="EDIFACT-SR-064" value="S_NAD[D_3035='SE' or D_3035='BY' or D_3035='PE' or D_3035='LC' or D_3035='DP']"/>
	<param name="EDIFACT-SR-065" value="not(S_NAD/C_C082/D_3055)"/>

	<param name="EDIFACT-SR-067" value="not(S_NAD/C_C058)"/>
	<param name="EDIFACT-SR-068" value="not(S_NAD[D_3035='LC']/C_C082)"/>
	<param name="EDIFACT-SR-069" value="not(S_NAD/C_C080/D_3036_2) or (S_NAD/D_3035=('BY', 'SE'))"/>
	<param name="EDIFACT-SR-070" value="not(S_NAD/C_C080/D_3036_3 or S_NAD/C_C080/D_3036_4 or S_NAD/C_C080/D_3036_5)"/>
	<param name="EDIFACT-SR-071" value="not(S_NAD/C_C080/D_3045)"/>
	<param name="EDIFACT-SR-072" value="not(S_NAD[D_3035='PE']/C_C059)"/>
	<param name="EDIFACT-SR-074" value="not(S_NAD/C_C059/D_3042_4)"/>
	<param name="EDIFACT-SR-075" value="not(S_NAD[D_3035='PE']/D_3164)"/>
	<param name="EDIFACT-SR-076" value="not(S_NAD/C_C819/D_3229)"/>
	<param name="EDIFACT-SR-077" value="not(S_NAD/C_C819/D_1131)"/>
	<param name="EDIFACT-SR-078" value="not(S_NAD/C_C819/D_3055)"/>
	<param name="EDIFACT-SR-079" value="not(S_NAD[D_3035='PE']/C_C819/D_3228)"/>
	<param name="EDIFACT-SR-080" value="not(S_NAD[D_3035='PE']/D_3251)"/>
	<param name="EDIFACT-SR-081" value="not(S_NAD[D_3035='PE']/D_3207)"/>
	<param name="EDIFACT-SR-082" value="not(S_LOC)"/>
	<param name="EDIFACT-SR-083" value="(.[S_NAD/D_3035=('SE', 'PE')]/S_FII[D_3035='RB']) 
		or (.[S_NAD/D_3035='BY']/S_FII[D_3035=('PB', 'BI')]) or not (./S_FII)"/>
	<param name="EDIFACT-SR-084" value="not(S_FII/C_C088/D_1131)"/>
	<param name="EDIFACT-SR-085" value="not(S_FII/C_C088/D_1131_2)"/>
	<param name="EDIFACT-SR-086" value="not(S_FII/C_C088/D_3055_2)"/>
	<param name="EDIFACT-SR-087" value="not(S_FII/C_C088/D_3432)"/>
	<param name="EDIFACT-SR-088" value="not(S_FII/C_C088/D_3436)"/>
	<param name="EDIFACT-SR-089" value="not(S_FII/D_3207)"/>
	<param name="EDIFACT-SR-090" value="S_FII[D_3035=('RB','PB')]/C_C078/D_3192 or not (S_FII/C_C078/D_3192)"/>
	<param name="EDIFACT-SR-091" value="not(S_MOA)"/>
	<param name="EDIFACT-SR-092" value="not(G_SG3/S_DTM)"/>
	<param name="EDIFACT-SR-093" value="not(G_SG3/S_RFF/C_C506/D_1156)"/>
	<param name="EDIFACT-SR-094" value="not(G_SG3/S_RFF/C_C506/D_1056)"/>
	<param name="EDIFACT-SR-095" value="not(G_SG3/S_RFF/C_C506/D_1060)"/>
	<param name="EDIFACT-SR-096" value="not(G_SG3/S_RFF) or 
						(.[S_NAD/D_3035='SE']/G_SG3/S_RFF/C_C506[D_1153=('GN', 'VA', 'AHP')]) or
						(.[S_NAD/D_3035='BY']/G_SG3/S_RFF/C_C506[D_1153=('GN', 'AOU', 'CR', 'VA', 'AVS', 'AII')]) or
						(.[S_NAD/D_3035='PE']/G_SG3/S_RFF/C_C506[D_1153='GN']) or
						(.[S_NAD/D_3035='LC']/G_SG3/S_RFF/C_C506[D_1153='VA'])"/>
	<param name="EDIFACT-SR-097" value="not(G_SG4)"/>
	<param name="EDIFACT-SR-098" value="not(G_SG5[S_CTA/D_3139='IC']) or G_SG5[S_CTA/D_3139='IC']/S_COM/C_C076/D_3148 
		"/>
	<param name="EDIFACT-SR-099" value="not(G_SG5/S_CTA/C_C056/D_3413)"/>
	<!-- SG7 -->
	<param name="EDIFACT-SR-100" value="(S_CUX/C_C504/D_6347=('2', '6'))"/>
	<param name="EDIFACT-SR-101" value="not (S_CUX/C_C504/D_6348)"/>
	<param name="EDIFACT-SR-102" value="not (S_CUX/C_C504_2)"/>
	<param name="EDIFACT-SR-103" value="not (S_CUX/D_5402)"/>
	<param name="EDIFACT-SR-104" value="not (S_CUX/D_6341)"/>
	<param name="EDIFACT-SR-105" value="not (S_DTM)"/>
	<!-- SG8 -->
	<param name="EDIFACT-SR-106" value="(.[S_PYT/D_4279='1']/S_PAI/C_C534/D_4461 or .[S_PYT/D_4279='1']/S_DTM/C_C507[D_2005='13' and D_2379='102']/D_2380 or not(S_PAI))
		or (.[S_PYT/D_4279='1']/S_PAI/D_4461 and not (S_DTM))"/>
	<param name="EDIFACT-SR-107" value="not (S_PYT/C_C019)"/>
	<param name="EDIFACT-SR-108" value="not (S_PYT/D_2151)"/>
	<param name="EDIFACT-SR-109" value="not (S_PYT/D_2152)"/>
	<param name="EDIFACT-SR-110" value="not (S_PCD)"/>
	<param name="EDIFACT-SR-111" value="not (S_MOA)"/>
	<param name="EDIFACT-SR-112" value="not (S_FII)"/>
	<!-- SG16 -->
	<param name="EDIFACT-SR-113" value="S_ALC/D_5463=('A', 'C')"/>
	<param name="EDIFACT-SR-114" value="not(S_ALC/D_4471)"/>
	<param name="EDIFACT-SR-115" value="not(S_ALC/D_1227)"/>
	<param name="EDIFACT-SR-116" value="not(S_ALC/C_C214) or (S_ALC/D_5463='C')"/>
	<param name="EDIFACT-SR-117" value="not(S_ALI)"/>
	<param name="EDIFACT-SR-118" value="not(S_FTX)"/>
	<param name="EDIFACT-SR-119" value="not(G_SG17)"/>
	<param name="EDIFACT-SR-120" value="not(G_SG18)"/>
	<param name="EDIFACT-SR-121" value="G_SG19/S_PCD/C_C501[D_5245=('1','2')]/D_5482 or not (G_SG19)"/>
	<param name="EDIFACT-SR-122" value="not(G_SG19/S_PCD/C_C501/D_5249)"/>
	<param name="EDIFACT-SR-123" value="not(G_SG19/S_PCD/C_C501/D_1131)"/>
	<param name="EDIFACT-SR-124" value="not(G_SG19/S_PCD/C_C501/D_3055)"/>
	<param name="EDIFACT-SR-125" value="not(G_SG19/S_PCD/D_4055)"/>
	<param name="EDIFACT-SR-126" value="not(G_SG19/S_RNG)"/>
	
	<param name="EDIFACT-SR-127" value="G_SG20/S_MOA/C_C516[D_5025 = ('23', '25', '204')]/D_5004"/>
	<param name="EDIFACT-SR-128" value="not(G_SG20/S_MOA/C_C516/D_6345)"/>
	<param name="EDIFACT-SR-129" value="not(G_SG20/S_MOA/C_C516/D_6343)"/>
	<param name="EDIFACT-SR-130" value="not(G_SG20/S_MOA/C_C516/D_4405)"/>
	<param name="EDIFACT-SR-131" value="not(G_SG20/S_RNG)"/>
	<param name="EDIFACT-SR-132" value="not(G_SG20/S_CUX)"/>
	<param name="EDIFACT-SR-133" value="not(G_SG20/S_DTM)"/>
	
	<param name="EDIFACT-SR-134" value="not(G_SG21)"/>
	
	<param name="EDIFACT-SR-135" value="G_SG22/S_TAX[D_5283='7' and C_C241/D_5153='VAT']/D_5305"/>
	
	<param name="EDIFACT-SR-136" value="not(G_SG22/S_TAX/C_C241/D_1131)"/>
	<param name="EDIFACT-SR-137" value="not(G_SG22/S_TAX/C_C241/D_3055)"/>
	<param name="EDIFACT-SR-138" value="not(G_SG22/S_TAX/C_C241/D_5152)"/>
	<param name="EDIFACT-SR-139" value="not(G_SG22/S_TAX/C_C533)"/>
	<param name="EDIFACT-SR-140" value="not(G_SG22/S_TAX/D_5286)"/>
	<param name="EDIFACT-SR-141" value="not(G_SG22/S_TAX/C_C243/D_5279)"/>
	<param name="EDIFACT-SR-142" value="not(G_SG22/S_TAX/C_C243/D_1131)"/>
	<param name="EDIFACT-SR-143" value="not(G_SG22/S_TAX/C_C243/D_3055)"/>
	<param name="EDIFACT-SR-144" value="not(G_SG22/S_TAX/C_C243/D_5273)"/>
	<param name="EDIFACT-SR-145" value="not(G_SG22/S_TAX/C_C243/D_1131_2)"/>
	<param name="EDIFACT-SR-146" value="not(G_SG22/S_TAX/C_C243/D_3055_2)"/>
	<param name="EDIFACT-SR-147" value="not(G_SG22/S_TAX/D_3446)"/>
	<param name="EDIFACT-SR-148" value="not(G_SG22/S_TAX/D_1227)"/>
	<param name="EDIFACT-SR-149" value="not(G_SG22/S_TAX/D_5307)"/>
	<param name="EDIFACT-SR-150" value="not(G_SG22/S_MOA)"/>
	
	<!-- SG26 -->
	<param name="EDIFACT-SR-151" value="not(S_EFI/C_C099)"/>
	<param name="EDIFACT-SR-152" value="not(S_EFI/D_1050)"/>
	<param name="EDIFACT-SR-153" value="not(S_EFI/D_9450)"/>
	<param name="EDIFACT-SR-154" value="not(S_CED)"/>	
	<param name="EDIFACT-SR-156" value="not(S_DTM)"/>
	<param name="EDIFACT-SR-157" value="not(S_QTY)"/>
	
	<!-- SG27 -->
	<param name="EDIFACT-SR-158" value="not(S_LIN/D_1229)"/>
	<param name="EDIFACT-SR-159" value="not(S_LIN/C_C212/D_1131)"/>
	<param name="EDIFACT-SR-160" value="not(S_LIN/C_C212/D_3055)"/>
	<param name="EDIFACT-SR-161" value="not(S_LIN/C_C829)"/>
	<param name="EDIFACT-SR-162" value="not(S_LIN/D_1222)"/>
	<param name="EDIFACT-SR-163" value="not(S_LIN/D_7083)"/>
	
	<param name="EDIFACT-SR-164" value="S_PIA[D_4347 = ('1', '5')] or not (S_PIA)"/>
	<param name="EDIFACT-SR-165" value="not(S_PIA/C_C212/D_1131)"/>
	<param name="EDIFACT-SR-166" value="not(S_PIA/C_C212/D_3055)"/>
	
	<param name="EDIFACT-SR-167" value="not(S_PIA/C_C212_2)"/>
	<param name="EDIFACT-SR-168" value="not(S_PIA/C_C212_3)"/>
	<param name="EDIFACT-SR-169" value="not(S_PIA/C_C212_4)"/>
	<param name="EDIFACT-SR-170" value="not(S_PIA/C_C212_5)"/>
	
	<param name="EDIFACT-SR-171" value="not(S_PGI)"/>
	
	<param name="EDIFACT-SR-172" value="S_IMD[D_7077='F'] or S_IMD[D_7077='A']"/>
	<param name="EDIFACT-SR-173" value="not(S_IMD/C_C272/D_1131)"/>
	<param name="EDIFACT-SR-174" value="not(S_IMD/C_C272/D_3055)"/>
	<param name="EDIFACT-SR-175" value="not(S_IMD/C_C273/D_1131)"/>
	<param name="EDIFACT-SR-176" value="not(S_IMD/C_C273/D_3055)"/>
	<param name="EDIFACT-SR-177" value="not(S_IMD/C_C273/D_7008_2)"/>
	<param name="EDIFACT-SR-178" value="not(S_IMD/C_C273/D_3453)"/>
	<param name="EDIFACT-SR-179" value="not(S_IMD/D_3055)"/>
	
	<param name="EDIFACT-SR-180" value="not(S_MEA)"/>
	<param name="EDIFACT-SR-181" value="S_QTY/C_C186[D_6063='47']/D_6411 or not (S_QTY)"/>
	<param name="EDIFACT-SR-182" value="not(S_PCD)"/>
	<param name="EDIFACT-SR-183" value="not(S_ALI) or S_ALI/D_3239"/>
	<param name="EDIFACT-SR-184" value="not(S_ALI/D_9213)"/>
	<param name="EDIFACT-SR-185" value="not(S_ALI/D_4183)"/>
	<param name="EDIFACT-SR-186" value="not(S_ALI/D_4183_2)"/>
	<param name="EDIFACT-SR-187" value="not(S_ALI/D_4183_3)"/>
	<param name="EDIFACT-SR-188" value="not(S_ALI/D_4183_4)"/>
	<param name="EDIFACT-SR-189" value="not(S_ALI/D_4183_5)"/>
	
	<param name="EDIFACT-SR-190" value="not(S_DTM) or (S_DTM/C_C507[D_2005 = ('167','168') and D_2379='102']/D_2380)"/>
	<param name="EDIFACT-SR-191" value="not(S_GIN)"/>
	<param name="EDIFACT-SR-192" value="not(S_GIR)"/>
	<param name="EDIFACT-SR-193" value="not(S_QVR)"/>
	<param name="EDIFACT-SR-194" value="not(S_EQD)"/>
	
	<param name="EDIFACT-SR-195" value="not(S_FTX) or (S_FTX[D_4451='ACB']/C_C108/D_4440) or ((S_FTX[D_4451='ACF']/C_C108/D_4440) and (S_FTX[D_4451='ACF']/C_C108/D_4440_2))"/>
	<param name="EDIFACT-SR-196" value="not(S_FTX/C_C107/D_1131)"/>
	<param name="EDIFACT-SR-197" value="not(S_FTX/C_C107/D_3055)"/>
	<param name="EDIFACT-SR-198" value="not(S_FTX/C_C108/D_4440_3)"/>
	<param name="EDIFACT-SR-199" value="not(S_FTX/C_C108/D_4440_4)"/>
	<param name="EDIFACT-SR-200" value="not(S_FTX/C_C108/D_4440_5)"/>
	<param name="EDIFACT-SR-201" value="not(S_FTX/D_3453)"/>
	<param name="EDIFACT-SR-202" value="not(S_FTX/D_34447)"/>
	
	<param name="EDIFACT-SR-203" value="not(S_DGS)"/>
	
	<param name="EDIFACT-SR-204" value="G_SG28/S_MOA/C_C516[D_5025='203']/D_5004"/>
	<param name="EDIFACT-SR-205" value="not(G_SG28/S_MOA/C_C516/D_6345)"/>
	<param name="EDIFACT-SR-206" value="not(G_SG28/S_MOA/C_C516/D_6343)"/>
	<param name="EDIFACT-SR-207" value="not(G_SG28/S_MOA/C_C516/D_4405)"/>
	<param name="EDIFACT-SR-208" value="not(G_SG28/S_CUX)"/>
	
	<param name="EDIFACT-SR-209" value="not(G_SG29)"/>
	
	<param name="EDIFACT-SR-210" value="G_SG30/S_PRI/C_C509[D_5125=('AAA', 'AAB')]/D_5118"/>
	<param name="EDIFACT-SR-211" value="not(G_SG30/S_PRI/C_C509/D_5375)"/>
	<param name="EDIFACT-SR-212" value="not(G_SG30/S_PRI/C_C509/D_5387)"/>
	<param name="EDIFACT-SR-213" value="not(G_SG30/S_PRI/D_5213)"/>	
	<param name="EDIFACT-SR-214" value="not(G_SG30/S_CUX)"/>
	<param name="EDIFACT-SR-215" value="not(G_SG30/S_APR)"/>
	<param name="EDIFACT-SR-216" value="not(G_SG30/S_RNG)"/>
	<param name="EDIFACT-SR-217" value="not(G_SG30/S_DTM)"/>
	
	<param name="EDIFACT-SR-218" value="(G_SG31/S_RFF/C_C506[D_1153=('AVE','AWQ')]/D_1154) or (G_SG31/S_RFF/C_C506[D_1153='ON']/D_1156) or not (G_SG31)"/>
	<param name="EDIFACT-SR-219" value="not(G_SG31/S_RFF/C_C506[D_1153!='ON']/D_1156)"/>
	<param name="EDIFACT-SR-220" value="not(G_SG31/S_RFF/C_C506/D_1056)"/>
	<param name="EDIFACT-SR-221" value="not(G_SG31/S_RFF/C_C506/D_1060)"/>
	<param name="EDIFACT-SR-222" value="not(G_SG31/S_DTM)"/>
	
	<param name="EDIFACT-SR-223" value="not(G_SG32)"/>
	<param name="EDIFACT-SR-224" value="not(G_SG34)"/>
	
	<param name="EDIFACT-SR-225" value="G_SG35/S_TAX[D_5283='7' and C_C241/D_5153='VAT']/D_5305"/>
	<param name="EDIFACT-SR-226" value="not(G_SG35/S_TAX/C_C241/D_1131)"/>
	<param name="EDIFACT-SR-227" value="not(G_SG35/S_TAX/C_C241/D_3055)"/>
	<param name="EDIFACT-SR-228" value="not(G_SG35/S_TAX/C_C241/D_5152)"/>
	<param name="EDIFACT-SR-229" value="not(G_SG35/S_TAX/C_C533)"/>
	<param name="EDIFACT-SR-230" value="not(G_SG35/S_TAX/D_5286)"/>
	<param name="EDIFACT-SR-231" value="not(G_SG35/S_TAX/C_C243/D_5279)"/>
	<param name="EDIFACT-SR-232" value="not(G_SG35/S_TAX/C_C243/D_1131)"/>
	<param name="EDIFACT-SR-233" value="not(G_SG35/S_TAX/C_C243/D_3055)"/>
	<param name="EDIFACT-SR-234" value="not(G_SG35/S_TAX/C_C243/D_5273)"/>
	<param name="EDIFACT-SR-235" value="not(G_SG35/S_TAX/C_C243/D_1131_2)"/>
	<param name="EDIFACT-SR-236" value="not(G_SG35/S_TAX/C_C243/D_3055_2)"/>
	<param name="EDIFACT-SR-237" value="not(G_SG35/S_TAX/D_3446)"/>
	<param name="EDIFACT-SR-238" value="not(G_SG35/S_TAX/D_1227)"/>
	<param name="EDIFACT-SR-239" value="not(G_SG35/S_TAX/D_5307)"/>
	<param name="EDIFACT-SR-240" value="not(G_SG35/S_MOA)"/>
	<param name="EDIFACT-SR-241" value="not(G_SG35/S_LOC)"/>
	
	<param name="EDIFACT-SR-242" value="not(G_SG36)"/>
	
	<param name="EDIFACT-SR-243" value="not (G_SG40) or G_SG40[S_ALC/D_5463='A']/G_SG43/S_MOA/C_C516[D_5025='509']/D_5004 or 
		G_SG40[G_SG43/S_MOA/C_C516/D_5025='204']/S_ALC[D_5463='A']/C_C552/D_1230 or
		G_SG40[G_SG43/S_MOA/C_C516/D_5025='23']/S_ALC[D_5463='C']/C_C552/D_1230 "/>
	<param name="EDIFACT-SR-244" value="not(G_SG40/S_ALC/D_4471)"/>
	<param name="EDIFACT-SR-245" value="not(G_SG40/S_ALC/D_1227)"/>
	<param name="EDIFACT-SR-246" value="not(G_SG40/S_ALC/C_C214)  or (G_SG40/S_ALC/D_5463='C')"/>
	<param name="EDIFACT-SR-247" value="not(G_SG40/S_ALI)"/>
	<param name="EDIFACT-SR-248" value="not(G_SG40/S_DTM)"/>
	<param name="EDIFACT-SR-249" value="not(G_SG40/S_FTX)"/>
	<param name="EDIFACT-SR-250" value="not(G_SG40/G_SG41)"/>	
	<param name="EDIFACT-SR-251" value="(G_SG40[S_ALC/D_5463='A']/G_SG42/S_PCD/C_C501[D_5245='1']/D_5482) or 
		(G_SG40[S_ALC/D_5463='C']/G_SG42/S_PCD/C_C501[D_5245='2']/D_5482) or
		not(G_SG40/G_SG42)"/>
	<param name="EDIFACT-SR-252" value="not(G_SG40/G_SG42/S_PCD/C_C501/D_5249)"/>
	<param name="EDIFACT-SR-253" value="not(G_SG40/G_SG42/S_PCD/C_C501/D_1131)"/>
	<param name="EDIFACT-SR-254" value="not(G_SG40/G_SG42/S_PCD/C_C501/D_3055)"/>
	<param name="EDIFACT-SR-255" value="not(G_SG40/G_SG42/S_PCD/D_4405)"/>
	<param name="EDIFACT-SR-256" value="not(G_SG40/G_SG42/S_RNG)"/>
	<param name="EDIFACT-SR-257" value="(G_SG40/G_SG43/S_MOA/C_C516[D_5025=('23', '25', '204', '509')]) or not (G_SG40/G_SG43)"/>
	<param name="EDIFACT-SR-258" value="not(G_SG40/G_SG43/S_MOA/C_C516/D_6345)"/>
	<param name="EDIFACT-SR-259" value="not(G_SG40/G_SG43/S_MOA/C_C516/D_6343)"/>
	<param name="EDIFACT-SR-260" value="not(G_SG40/G_SG43/S_MOA/C_C516/D_4405)"/>
	<param name="EDIFACT-SR-261" value="not(G_SG40/G_SG43/S_RNG)"/>
	<param name="EDIFACT-SR-262" value="not(G_SG40/G_SG43/S_CUX)"/>
	<param name="EDIFACT-SR-263" value="not(G_SG40/G_SG43/S_DTM)"/>
	<param name="EDIFACT-SR-264" value="not(G_SG40/G_SG44)"/>
	<param name="EDIFACT-SR-265" value="not(G_SG40/G_SG45)"/>
	<param name="EDIFACT-SR-266" value="not(G_SG46)"/>
	<param name="EDIFACT-SR-267" value="not(G_SG48)"/>
	<param name="EDIFACT-SR-268" value="not(G_SG49)"/>
	<param name="EDIFACT-SR-269" value="not(G_SG50)"/>
	<param name="EDIFACT-SR-270" value="not(G_SG51)"/>
	
	<!-- SG52 -->
	<param name="EDIFACT-SR-271" value="S_MOA/C_C516[D_5025 = ('2', '9', '79', '113', '176', '259', '260', '366', '388', '389')]/D_5004"/>
	<param name="EDIFACT-SR-272" value="not(S_MOA/C_C516/D_6345)"/>
	<param name="EDIFACT-SR-273" value="not(S_MOA/C_C516/D_6343)"/>
	<param name="EDIFACT-SR-274" value="not(S_MOA/C_C516/D_4405)"/>
	<param name="EDIFACT-SR-275" value="not(G_SG53)"/>
	
	<!-- SG54 -->
	<param name="EDIFACT-SR-276" value="(S_TAX[D_5283='7' and C_C241/D_5153='VAT']/D_5305) and 
		(S_MOA/C_C516[D_5025 = ('124', '125')]/D_5004)"/>
	<param name="EDIFACT-SR-277" value="not(S_TAX/C_C241/D_1131)"/>
	<param name="EDIFACT-SR-278" value="not(S_TAX/C_C241/D_3055)"/>
	<param name="EDIFACT-SR-279" value="not(S_TAX/C_C241/D_5152)"/>
	<param name="EDIFACT-SR-280" value="not(S_TAX/C_C533)"/>
	<param name="EDIFACT-SR-281" value="not(S_TAX/D_5286)"/>
	<param name="EDIFACT-SR-282" value="not(S_TAX/C_C243/D_5279)"/>
	<param name="EDIFACT-SR-283" value="not(S_TAX/C_C243/D_1131)"/>
	<param name="EDIFACT-SR-284" value="not(S_TAX/C_C243/D_3055)"/>
	<param name="EDIFACT-SR-285" value="not(S_TAX/C_C243/D_5273)"/>
	<param name="EDIFACT-SR-286" value="not(S_TAX/C_C243/D_1131_2)"/>
	<param name="EDIFACT-SR-287" value="not(S_TAX/C_C243/D_3055_2)"/>
	<param name="EDIFACT-SR-288" value="not(S_TAX/D_3446)"/>
	<param name="EDIFACT-SR-289" value="not(S_TAX/D_1227)"/>
	<param name="EDIFACT-SR-290" value="not(S_TAX/D_5307)"/>
	<param name="EDIFACT-SR-291" value="not(S_MOA/C_C516/D_6343)"/>
	<param name="EDIFACT-SR-292" value="not(S_MOA/C_C516/D_4405)"/>
	
	
	
	<!-- segments, groups and composites -->
    <param name="UNH " value="/M_INVOIC/S_UNH"/>
    <param name="BGM " value="/M_INVOIC/S_BGM"/>    
    <param name="Invoice " value="/M_INVOIC"/>
    <param name="FTX " value="/M_INVOIC/S_FTX"/>
    <param name="SG1 " value="/M_INVOIC/G_SG1"/>
    <param name="SG2 " value="/M_INVOIC/G_SG2"/>
	<param name="SG7 " value="/M_INVOIC/G_SG7"/>
	<param name="SG8 " value="/M_INVOIC/G_SG8"/>
	<param name="SG16 " value="/M_INVOIC/G_SG16"/>
	<param name="SG26 " value="/M_INVOIC/G_SG26"/>
	<param name="SG27 " value="/M_INVOIC/G_SG27"/>
	<param name="SG52 " value="/M_INVOIC/G_SG52"/>
	<param name="SG54 " value="/M_INVOIC/G_SG54"/>
    
</pattern>